<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_CatalogML::catalogml" title="Catalog ML" module="Magento_CatalogML" sortOrder="100" parent="Magento_Catalog::catalog" resource="Magento_CatalogML::catalogml" action="mlprodukgrid/contacts"/>
    </menu>
</config>
