<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ImportProducts\Model\Import\ConfigInterface" type="Magento\ImportProducts\Model\Import\Config" />
    <preference for="Magento\ImportProducts\Model\Export\ConfigInterface" type="Magento\ImportProducts\Model\Export\Config" />
    <preference for="Magento\ImportProducts\Model\Import\ErrorProcessing\ProcessingErrorAggregatorInterface" type="Magento\ImportProducts\Model\Import\ErrorProcessing\ProcessingErrorAggregator" />
    <preference for="Magento\ImportProducts\Model\Report\ReportProcessorInterface" type="Magento\ImportProducts\Model\Report\Csv" />
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="ImportProducts" xsi:type="string">Magento_ImportProducts</item>
            </argument>
        </arguments>
    </type>
</config>
